################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VisualSOS
/Managed/VSExtension/Abstractions/bin/Debug
/Managed/VSExtension/Abstractions/obj/Debug
/Managed/VSExtension/Common/bin/Debug
/Managed/VSExtension/Common/obj/Debug
/Managed/VSExtension/Core/bin/Debug
/Managed/VSExtension/Core/obj/Debug
/Managed/VSExtension/Extension/bin/Debug
/Managed/VSExtension/Extension/obj
/Managed/VSExtension/UI/bin/x64/Debug
/Managed/VSExtension/UI/obj/x64/Debug/View
/Managed/VSExtension/UI/obj/x64/Debug
/Native/SosWrapper/Debug/SosWrapper.tlog
/Native/SosWrapper/Debug
/Native/SosWrapper/x64/Debug/SosWrapper.tlog
/Native/SosWrapper/x64/Debug/msxml6.tli
/Native/SosWrapper/x64/Debug/vc143.idb
/Native/SosWrapper/x64/Debug/SosWrapper.vcxproj.FileListAbsolute.txt
/Native/SosWrapper/x64/Debug/SosWrapper.log
/Native/SosWrapper/x64/Debug/SosWrapper.dll.recipe
/Native/SosWrapper/x64/Debug/SosWrapper.Build.CppClean.log
/Native/SosWrapper/SosWrapper.vcxproj.filters
/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.39
/x64/Debug
